.titulo{
    margin-top: 30px;
}

.icone{
    margin-top: 30px;
}

.row{
    margin-top:  20px;
}

.table{
    margin-top: 30px;
}


.botao{
    background-color: var(--verde);
    border-color: var(--verde);
}
.botao2{
    background-color: var(--verde);
    border-color: var(--verde);
    margin: 20px;
}