<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/db23278c-d58e-4afa-93dd-3ecc394689cf/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/apis-web-services-projeto-reciclai20231126165034</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/db23278c-d58e-4afa-93dd-3ecc394689cf/resourceGroups/myResourceGroup/providers/Microsoft.ApiManagement/service/apis-web-services-projeto-reciclaiapi/apis/apis-web-services-projeto-reciclai</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apis-web-services-projeto-reciclai20231126165034.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f9b73cb2-59c8-48ac-9cfb-87e8889aac48</ProjectGuid>
    <MSDeployServiceURL>apis-web-services-projeto-reciclai20231126165034.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apis-web-services-projeto-reciclai20231126165034</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$apis-web-services-projeto-reciclai20231126165034</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>